body {
  background-color: #181818;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

header {
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #212121;
}

nav {
  display: flex;
  height: 100%;
  width: 100%;
}

i {
  color: white;
  margin: 17px;
}

a {
  color: #78acff;
  text-decoration: none;
}

::placeholder {
  font-size: 16px;
}

.nav-brand {
  margin: -5px;
  width: 80px;
}

.nav-avatar {
  margin: -7px 5px;
  border-radius: 50%;
  height: 25px;
}

.search-button{
  width: 2px;
  min-width: 10%;
  color: #aaa;
  background-color: #3d3d3d;
  border: none;
  border-radius: 5px
}

.video-player {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-title {
  width: 100%;
  float: left;
  font-size: 20px;
  margin: 20px 0;
  color: white;
}

.video-info {
  float: left;
  font-size: 14px;
  color: #aaa;
}

.video-menu {
  float: right;
  font-size: 14px;
}

.avatar {
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
  float: left;
}

.channel-info {
  float: left;
  margin: 5px;
}

.channel-info span {
  float: left;
  clear: left;
}

.channel-name {
  font-size: 14px;
}

.channel-subscriptions {
  font-size: 12px;
  color: #aaa;
}

.comment-avatar {
  height: 40px;
  border-radius: 50%;
  float: left;
}

.video-thumbnail {
  width: 150px;
  margin-right: 8px;
}

.video-preview-container {
  padding: 1px;
  margin: 5px;
}

.preview-title {
  overflow-wrap: true;
  color: white;
  font-size: 14px;
}

.preview-data {
  color: #aaa;
  font-size: 12px;
}

#start {
  text-align: center;
  width: 20%;
}

#center {
  text-align: center;
  width: 60%;
}

#end {
  text-align: center;
  width: 20%;
}

#video-content {
  float: left;
  padding: 25px;
  width: 65%;
}

#video-metadata {
  height: 100px;
}

#description-box {
  height: 75px;
  margin: 15px 0;
  color: white;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
  padding: 10px 0;
}

#subscribe-button {
  float: right;
  font-size: 14px;
  padding: 10px 15px;
  margin: 5px;
  color: white;
  background-color: #f00;
  border: none;
  border-radius: 3px;
}

#video-description {
  margin: 10px 0;
  padding: 5px;
  float: left;
  font-size: 14px;
}

#comments-container {
  /*background-color: green;*/
}

#comment-count {
  color: white;
  font-size: 16px;
}

#sort {
  color: #aaa;
  font-size: 14px;
}

#comment-input {
  width: 90%;
  margin: 10px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3d3d3d;
  font-size: 14px;
}

#comment-input::placeholder {
  font-size: 14px;
}

#sidebar {
  float: right;
  width: 30%;
}

#sidebar-filter button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 16px;
  font-size: 14px;
  color: white;
  background-color: #3d3d3d;
}

#sidebar-filter button:hover {
  background-color: #606060;
}

form.search-bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 60%;
  background: #181818;
  color: white;
  margin: 3px 1px;
}